@import url(/styles/styles.css);

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--preto);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-inicio{
    width: 40%;
}

.container-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 0 10px 0;
} 

#formCadastro{
    width: 420px;
    background-color: transparent;
    border: 2px solid var(--preto);
    border-radius: 10px;
    color: var(--preto);
    box-shadow: 0 0 10px var(--preto);
    padding: 30px 40px;
    backdrop-filter: blur(10px);
}

#formCadastro h1{
     font-size: 1.6rem;
    text-align: center;
    color: var(--preto);
    font-weight: 600;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid var(--preto);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: var(--preto);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: var(--bordas);
}

#agreement-label{
    display: flex;
    justify-content: space-between;
    margin: -10px 0 10px;
}

.completo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
    margin: 20px 0;
    gap: 5px;
}

.completo label{
    font-weight: 600;
}

.completo input, .completo select{
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 2px solid var(--preto);
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
}


.completo a {
    text-decoration: none;
    color: var(--preto);
    font-weight: 600;
}

.btn{
    width: 100%;
    height: 50px;
    background: var(--verde-degrade);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 10px var(--preto);
    margin-top: 10px;
}

.btn:hover {
    background: transparent;
    border: 2px solid var(--bordas);
    color: var(--preto);
    transition: 0.5s;
}

.lembre-se {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 10px;
}

.lembre-se label input{
    accent-color: var(--branco);
    margin-right: 5px;
}

.lembre-se a {
    text-decoration: none;
    color: var(--preto);
    font-weight: 600;
}

.lembre-se a:hover{
    text-decoration: underline;
}