@import url("styles.css");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}